<!--<div id="header">
  <div id="links">
    <h1>{{ project }}</h1>
  </div>
  <div id="percentage">
    <h2><b>50%</b></h2>
  </div>
</div>

<table id="tasks">
  <tr>
    <th></th>
    <th>title</th>
    <th>Click to Complete ↓</th>
  </tr>
  <tr>
    <td width="10%"><a><img src="assets/SM.png" /></a></td>
    <td>
      <div id="td-header">
        <div id="title">
          <a>title&nbsp;&nbsp;&nbsp;</a>
        </div>
        <div id="link">
          <a>
            <button class="link-button">Link</button>
          </a>    
        </div>
        <div id="delete">
          <a>
            <button class="del">&#10006;</button>
          </a>
        </div>
      </div>
    </td>
    <td><a>???</a></td>
  </tr>
  <tr>
    <td>No Current Tasks</td>
  </tr>
</table>-->