<div id="header">
  <div id="links">
    <h1>Tasks</h1>
  </div>
  <div id="percentage">
    <h2><b>{{ percentage }}%</b></h2>
  </div>
</div>

<table id="tasks" *ngIf="not_empty; else noprojects">
  <tr>
    <th></th>
    <th>{{ project }}</th>
    <th>Click to Complete ↓</th>
  </tr>
  <tr *ngFor="let task of tasks; let i = index">
    <td width="10%"><a><img src="assets/SM.png" /></a></td>
    <td>
      <div id="td-header">
        <div id="title">
          <a>{{ task.title }}&nbsp;&nbsp;&nbsp;</a>
        </div>
        <div id="link">
          <a href="{{ task.link }}" *ngIf="task.link">
            <button class="link-button">Link</button>
          </a>    
        </div>
        <div id="delete">
          <a>
            <button class="del">&#10006;</button>
          </a>
        </div>
      </div>
    </td>
    <td (click)="toggleStatus(task.id)" *ngIf="status[task.id]; else notcomplete"><a>Complete</a></td>
    <ng-template #notcomplete>
      <td (click)="toggleStatus(task.id)"><a>Uncomplete</a></td>
    </ng-template>
  </tr>
</table>

<ng-template #noprojects>
  <table id="tasks">
    <tr>
      <td>No Current Tasks</td>
    </tr>
  </table>
</ng-template>