img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*#td-header {text-align:center;}*/

#title {
    float: left;
    display:inline-block;
}

#link {
    float:center;
    display:inline-block;
}

#delete {
    float: right;
    display:inline-block;
}

.link-button {
    color: black;
    background-color: white;
    border: 2px solid green;
    display: inline-block;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s;
}

.link-button:hover {
    color: white;
    background-color: green;
    border: 2px solid green;
    display: inline-block;
    border-radius: 12px;
}

.del {
    color: red;
    background-color: #ffcccc;
    border: none;
    display: inline-block;
    border-radius: 50%;
}

.del:hover {
    color: black;
    background-color: red;
}

#header {
    display:flex;
}

#links {
    flex: 1;
    position: relative;
    display:inline-block;
}

#links span {
    position: absolute;
    bottom: 0;
}

#percentage {
    float: right;
    display:inline-block;
}

#tasks {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tasks td, #tasks th {
    padding: 8px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#tasks tr:nth-child(even){background-color: #f2f2f2;}

#tasks tr:hover {background-color: #ddd;}

#tasks td a {
    color: inherit;
    display: block;
    text-decoration: none;
}

#tasks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #ddd;
}