<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="title">Project title: </label>
        <input type="text" id="title" class="form-control" name="title" [ngModel]="default_title" required>
      </div>
      <!--<div class="form-group">
        <label for="status">État de l'appareil</label>
        <select id="status" class="form-control" name=status ngModel>
          <option value="allumé">Allumé</option>
          <option value="éteint">Éteint</option>
        </select>
      </div>-->
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Create Project</button>
    </form>
  </div>
</div>